@import "../../styles/variables.scss";

.course {
  width: 90%;
  background-color: $primary;
  padding: 15px 10px;
  margin: 15px auto;

  border: 2px solid $secondary;
  border-radius: 15px;
  font-family: "Comfortaa", sans-serif;

  transition: 300ms all;

  text-align: center;
  font-family: Comfortaa, sans-serif;

  &__image {
    width: 100%;
    border: 2px solid $accent;
    border-radius: 15px;
    transition: 300ms all;
  }

  &__info_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    margin: 15px;
    font-size: 32px;
  }
  &__description {
    font-size: 18px;
  }
}
